
@{
    ViewBag.Title = "Index";
}

<h2>Meteo Aujourdhui</h2>
<table>
    <thead>
        <th>Jour</th><th>Mois</th><th>Année</th>
    </thead>
    <tr>
        <td>@ViewBag.j</td><td>@ViewBag.m</td><td>@ViewBag.a</td>
    </tr>
</table>
