<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreditCardWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://31ad05b7.ngrok.io:80/ApplicationCreditCardValidator/CreditCardWS"
                binding="basicHttpBinding" bindingConfiguration="CreditCardWSPortBinding1"
                contract="CardValidatorwssoap.CreditCardWS" name="CreditCardWSPort1" />
        </client>
    </system.serviceModel>
</configuration>