@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Card validator SOAP Web Service Client</h1>
    <p class="lead">
        This Application allow you to validate your credit cards using a SOAP web service developped with java.
    </p>
    <p><a href="" class="btn btn-primary btn-lg">Lets Start</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/pics/Credit-Card-PNG-HD.png" />
    </div>
    <div class="col-md-4">
        <p class="text-center"><img src="~/Content/pics/Credit-Card-PNG-HD2.png" /></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/pics/Credit-Card-PNG-HD3.png" />
    </div>
</div>