
@{
    ViewBag.Title = "found";
    
}

<h2>Le client a été trouvé : </h2>
<hr />
<div>
    <label>Nom</label><input type="text" name="nom" value=@ViewData["nom"]/><br />
    <label>Age</label><input type="text" name="age" value=@ViewData["age"] />
</div>